.navgame, .navgames{
  text-decoration: none;
}; 

.navgame{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navgames {
  font-family: 'Courier New', Courier, monospace;
}

#navDrop{
  color:white
}

#nav{
  text-decoration: none;
}